* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  background: linear-gradient(to right bottom,#b3f564,#ec9a4e);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper{
  background-color: #870c6c;
  min-width: 450px;
  min-height: 650px;
  border-radius: 10px; 
  box-shadow: 3px 6px 40px #000;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


h1{
  color: #fff;
  text-align: center;
  margin: 30px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.top{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input{
  outline: none;
  width: 300px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
  background-color: #000000;
  border: 1px solid #c89666;
  border-radius: 10px;
}

.add{
  width:70px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}

.todo{
  position: relative;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  display: flex;
}

.icons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon{
  cursor: pointer;
  font-size: 20px;
}